__pycache__/
*.pyc
.pytest_cache/
noMore404/noMore404.toml
bis2Buster/bis2Buster.toml
IPaparazzi/IPaparazzi.toml
IPaparazzi/IPaparazzi.state.json
IPaparazzi/.IPaparazzi.state.json.*
IPaparazzi/IPaparazzi.lock
IPaparazzi/IPaparazzi.log*
